@import "~bootswatch/dist/darkly/variables";
$border-radius: 0.25rem; 


.grid-view {
	margin-top: 15px;
	padding: 15px;
	background-color: $dark;
    border-radius: $border-radius;
	overflow-x: auto;
    width: 100%;
}

.grid-view tr {
	height: 40px;
	border-bottom: 1px solid $body-bg;
	padding-left: 10px;
	padding-right: 10px
}

.grid-view td {
	padding-left: 10px;
	padding-right: 10px;
	height: 40px
}

.grid-view th {
	padding-left: 10px;
	padding-right: 10px
}

.detail-view{
    background-color: $dark;
	margin-top: 15px;
    padding-top:15px;
    padding-bottom:15px;
    width:100%;
    margin-bottom:20px;
    word-wrap: break-word;
    border-radius: $border-radius;
}
.detail-view tbody{
    margin-bottom:10px
}


.detail-view>thead>tr>th,.detail-view>tbody>tr>th,.detail-view>tfoot>tr>th,.detail-view>thead>tr>td,.detail-view>tbody>tr>td,.detail-view>tfoot>tr>td{
    padding-top:8px;
    padding-bottom:8px;
    padding-left:25px;
    padding-right:50px;
    line-height:1.42857143;
    vertical-align:top
}
.detail-view>thead>tr>th{
    vertical-align:bottom
}
.detail-view>caption+thead>tr:first-child>th,.detail-view>colgroup+thead>tr:first-child>th,.detail-view>thead:first-child>tr:first-child>th,.detail-view>caption+thead>tr:first-child>td,.detail-view>colgroup+thead>tr:first-child>td,.detail-view>thead:first-child>tr:first-child>td{
    border-top:0
}