$border-radius: 0.25rem; 

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.major-row {
    height: 100vh;
}
.sidebar-ct {
    padding: 0px;
    height: 100vh;
}
.sidebar {
    height: 100%;
    background-color: #303030;
    border-radius: 0;


    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.sidebar-column {
    padding-left: 0;
    padding-right: 0;
}

.sidebar-brand {
    text-align: center;
    padding: 20px;
    display: none;
}

.sidebar-items {
    flex-grow: 1;
    overflow-y: auto;
}

.sidebar-ul {
    padding: 0;
}
.sidebar-ul li {
    list-style: none;
}
.sidebar-ul li a {
    color: white;
    text-decoration: none;
    padding: 8px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: small;
}
.sidebar-ul li a svg {
    font-size: normal;
    margin: 0 10px;
    color: rgb(155, 155, 155);
}
.sidebar-ul li a:hover {
    background: #292929;
}
.sidebar-ul li.separator {
    background: #292929;
    padding: 6px;
    margin-top: 10px;
    margin-bottom: 5px;

    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
}

.page-title {
    background: #292929;
    padding: 6px;
    margin-bottom: 0.6rem;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    font-weight: 800;
    text-transform: uppercase;
    font-size: 18px;
}

.sidebar-footer {
    padding: 10px;
    color: grey;
}

.breadcrumb-nav {
    background-color: #cac7c7;
    border-radius: 10px;
    padding: 5px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.form-control {
    background-color: #292929;
}
.form-control:focus {
    background-color: #292929;
    border-color: #222;
}

.breadcrumb {
    padding: 0.75rem 1rem;
    border-radius: $border-radius;
    background-color: #303030;
}
.main-breadcrumb {
    margin-top: 12px;
}

.main-page {
    height: 100vh;
    overflow-y: auto;
}